.control {
  &[data-inactive] {
    opacity: 0;
    cursor: default;
  }
}

/* --- Indicators --- */
.indicators {
  top: var(--mantine-spacing-md);
  bottom: unset;
}

.indicator {
  width: 40px;
  height: 8px;
  transition: width 250ms ease;
  /* background-color: var(--mantine-color-habitatBlue-2); */
}

.indicator[data-active] {
  /* width: 16px; */
  background-color: var(--mantine-color-habitatBlue-4);
}

/* --- Controls (arrows) --- */
.control {
  background-color: var(--mantine-color-habitatBlue-4);
  color: var(--mantine-color-white);
  border: none;
  opacity: 1;
  box-shadow: var(--mantine-shadow-sm);
}

.control:hover {
  background-color: var(--mantine-color-habitatBlue-7);
  color: var(--mantine-color-white);
}